# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:3000
HUGGING_FACE_API_URL=https://api-inference.huggingface.co/models
HUGGING_FACE_API_KEY=

# Vercel
VERCEL_URL=

# Authentication
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
